numpy==1.26.4
pandas==2.2.3
scipy==1.13.1

# === Visualization & Debugging ===
matplotlib==3.9.2
seaborn==0.13.2

# === ML utilities ===
tqdm==4.66.5
scikit-learn==1.5.2
h5py==3.11.0

# === I/O & Compression ===
zipfile36==0.1.3
joblib==1.4.2
