numpy==1.26.4
pandas==2.2.3
scipy==1.13.1

# === Visualization & Debugging ===
matplotlib==3.9.2
seaborn==0.13.2

# === ML utilities ===
tqdm==4.66.5
scikit-learn==1.5.2
h5py==3.11.0

# === I/O & Compression ===
zipfile36==0.1.3
joblib==1.4.2

# === Optional===
jupyterlab==4.3.1
ipython==8.27.0
notebook==7.2.2

# === Optional: event-based vision support ===
dv-processing==1.7.0

# === OS/Performance utilities ===
psutil==6.1.0
